.btn {
    font: 13px/1 @bodyFont;
    color:@white;
    .gradient(#678667, #678667, #648164);
    border:solid 1px #2c402c;
    .box-shadow(0 2px 0 #354e35);
    padding:6px 12px;
    border-radius:10px;
    .transition();
    &:hover {
        color:@white;

    }
    &:active {
        .box-shadow(none);
    }
}

.btn-link {
    background:none;
    border:none;
    .box-shadow(none);
}
