header {
    .clearfix;
    padding: @gridGutterWidth / 2 0;
    background:@white;
}
header .brand {
    .ir;
    display:block;
    background: url('../images/logo.jpg') no-repeat 0 0;
    width:152px;
    height:77px;
    float:left;
}

.header-promo {
    font-size:12px;
    color:#666;
    margin-top: @gridGutterWidth * 2;

    i {
        float:left;
        margin-right:10px;
        width:33px;
        height:31px;
        background: url('../images/header-icons.gif') no-repeat 0 0;
    }
    .title {
        display:block;
        font-weight:bold;
        font-size:14px;
    }
}

.cart {
    text-align:right;
    color:@blue;
    margin-top:@gridGutterWidth;
    i {
        display:inline-block;
        vertical-align:middle;
        width:24px;
        height:22px;
        margin-right:7px;
        margin-top:-7px;
        background: url('../images/header-icons.gif') no-repeat -5px -33px;
    }
}


nav {
    .clearfix;
    border-top:solid 1px #999;

    font-family:@altFont;
    background:@white;



    ul {
        border-bottom:solid 1px #999;
        .clearfix;
        list-style:none;
        margin:0;
        padding:0;
    }
    ul li {
        a {
            float:left;
            padding:8px 16px;
            color:@grayDark;
        }
        a:hover {
            color:@grayDark;
        }


        &:first-child a {
            padding-left:10px;
        }
    }
    ul li.active a {
        background:@tan;
    }
}

.search-bar-inner {

    background:@green;
    padding:6px @gridGutterWidth / 2;

    input {
        margin-right:12px;
    }
}

nav:after, .breadcrumbs-bar:after {
    display:block;
    content:" ";
    background:url('../images/nav-shadow.png') repeat-x 0 0;
    height:14px;
}

