h1, h2, h3, h4, h5, h6 {
    font-family:@altFont;
    color:@green;
    font-weight:normal;
    margin:0;
}

h1 {}

h2 {
    font-size:24px;
    margin-bottom:ceil(24px / 1.4);
}

h3 {
    font-size:20px;
    margin-bottom:ceil(20px / 1.4);
}

.page-header {
    padding-top:@gridGutterWidth;
}

a {
    color:@linkColor;
}

a:hover {
    color:@linkColorHover;
}
